
#video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero {
    height: 100vh;
    width: 100%;
    object-fit: contain;
}

.hero .content {
    text-align: center;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 40vh;
}

.hero .content h1 {
    font-size: 4rem;
    color: #fff;
}

.hero p {
    font-size: 1.8rem;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    color: #fff;
}

.hero .btn {
    margin: 1rem .2rem;
}

.transparent-card {
    background-color: rgba(35, 29, 49, 0.5); /* Black background with opacity */
    color: #fff; /* White text color */
    padding: 20px;
    border-radius: 10px;
    display: inline-block; /* Adjust as needed */
    margin: 20px;
    width: 75%;
}

.crypto-pay-btn {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Adjust the margin as needed */
}

.crypto-pay-btn:hover {
    background-color: #0056b3;
}

/* Modal Styles */
.modal {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(35, 29, 49, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: rgba(35, 29, 49);
    padding: 20px;
    border-radius: 5px;
    width: auto;
    max-width: 500px; /* Adjust the modal width */
}

.form-group {
    margin-bottom: 20px;
}

.modal-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Makes sure the padding doesn't affect the overall width */
}

.pay-btn {
    display: block; /* Make the button block level so it spans the full width */
    width: 100%;
    padding: 10px;
    background-color: #4CAF50; /* A nice green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.pay-btn:hover {
    background-color: #45a049;
}

.close-btn {
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
}

@media screen and (max-width:640px) {
    .content h1 {
        font-size: 3rem;
    }

    .content p {
        font-size: 1.4rem;
        margin-bottom: 1.6rem;
    }
}











